name: CI

on:
  push:

permissions:
  contents: read

env:
  COVERAGE_THRESHOLD: 95

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - uses: snok/install-poetry@v1
        with:
          virtualenvs-in-project: true

      - name: Cache .venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-py3.13-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            venv-${{ runner.os }}-py3.13-

      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ runner.os }}-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit-${{ runner.os }}-

      - name: Install dependencies
        run: |
          poetry install --with dev

      - name: Run lint
        run: |
          make lint

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - uses: snok/install-poetry@v1
        with:
          virtualenvs-in-project: true

      - name: Cache .venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-py3.13-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            venv-${{ runner.os }}-py3.13-

      - name: Install dependencies
        run: |
          poetry install --with dev

      - name: Run Test and Generate coverage report
        run: |
          make coverage

      - name: Enforce coverage threshold
        run: |
          make check-coverage-threshold target_coverage=${COVERAGE_THRESHOLD}

      - name: Upload HTML coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: htmlcov
          path: htmlcov
